{% extends 'base.html' %}

{% block content %}

    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">About Us...</h1>
                <p class="lead fw-normal text-white-50 mb-0">Welcome to FLSD Ecommerce</p>
            </div>
        </div>
    </header>

    <br><br>
    <div class="container">
        <div class="row">
            <center>
                <div class="col-8">
                    <p class="justify">
                    <b>Welcome to Luxury Sport Cars</b>, your reference portal for the purchase of sports and luxury cars. We are dedicated to satisfying the desires of motoring enthusiasts and lovers of luxury by offering an exclusive selection of the most prestigious and high-performance automobiles in the world.
                    </p>
                <br>
                </div>
                <div class="col-8">
                    <p class="justify">
                        <b>Our Mission</b>
                        Our mission is to provide an unparalleled buying experience, characterized by excellent customer service and a range of vehicles that represent the ultimate in design, technology and performance. We believe that every car is a work of art and an investment, and we are committed to making every transaction an extraordinary journey.                        
                    </p>
                <br>
                </div>
                <div class="col-8">
                    <p class="justify">
                        <b>What we offer</b>
                        Luxury Sport Cars offers a wide range of cars ranging from high-performance supercars, such as Ferrari, Lamborghini and McLaren, to luxury sedans and SUVs from prestigious brands such as Bentley, Rolls-Royce and Aston Martin. Every vehicle in our inventory is carefully selected and undergoes rigorous quality checks to ensure it meets our high standards.
                    </p>
                <br>
                </div>
                <div class="col-8">
                    <p class="justify">
                        <b>Our Promise</b>
                        We are committed to transparency, integrity and an unsurpassed level of professionalism in every aspect of our work. Customer satisfaction is at the heart of what we do, and we pride ourselves on building long-lasting relationships based on trust and quality.                        
                    </p>
                <br>
                </div>
                <div class="col-8">
                    <p class="justify">
                        <b>Visit us</b>
                        Whether you are looking for your next supercar or a luxury car for a journey of comfort and elegance, Luxury Sport Cars is the ideal destination. Explore our website to discover our collection, or visit our showroom for an immersive shopping experience.
                    </p>
                <br><br><br>
                </div>
            </center>
        </div>
    </div>

{% endblock %}