{% extends 'base.html' %}

{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Product</h1>
        </div>
    </div>
</header>

<br><br>
<!-- Product View -->
<div class="card mb-3" style="max-width: 70%; margin-left: 15%;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="..." >
      </div>
      <div class="col-md-8">
        <div class="card-body">
            <center>
                <h5 class="card-title">{{ product.name }}</h5>
                <br>
                <p class="card-text">{{ product.description }}</p>
                
                {% if product.is_sale %}
                    <strike>{{ product.price }}€</strike>
                    <h5>{{ product.sale_price }}€</h5>
                {% else %}
                    <h5>{{ product.price }}€</h5><br>
                    <h5>ID:{{ product.id }}</h5><br>
                {% endif %}

                <a href="{% url 'home' %}" class="btn btn-secondary">Home</a>
                <button type="button" value="{{ product.id }}" class="btn btn-secondary" id="add-cart">Add To Cart</button>
            </center>
        </div>
      </div>
    </div>
  </div>


<!--- Javascript per il bottone di aggiungere al carrello -->
<script>
//Controllo se il bottone è stato schiacciato
$(document).on('click', '#add-cart', function(e) {
  e.preventDefault();
  $.ajax({
    type: 'POST',
    url: '{% url "cart_add" %}', 
    data: {
      product_id: $('#add-cart').val(),
      csrfmiddlewaretoken: '{{ csrf_token }}',
      action: 'post'
    },

    success: function(json) {
      console.log(json)
      document.getElementById("cart_quantity").textContent = json.qty
    },

    error: function(xhr, errmsg, err) {
      
    }

  });

})


</script>

{% endblock %}