{% extends 'base.html' %}

{% block content %}



<br><br>
<!-- Product View -->
<div class="card mb-3" style="max-width: 70%; margin-left: 15%;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="..." >
      </div>
      <div class="col-md-8">
        <div class="card-body">
            <center>
                <h5 class="card-title">{{ product.name }}</h5>
                <br>
                <p class="card-text">{{ product.description }}</p>
                
                {% if product.is_sale %}
                    <strike>{{ product.price }}€</strike>
                    <h5>{{ product.sale_price }}€</h5>
                {% else %}
                    <h5>{{ product.price }}€</h5><br>
                {% endif %}
                <div class="row justify-content-center">
                  <div class="col-md-2"><b>Quantity:</b></div>
                  <div class="col-md-2">
                  <select class="form-select form-select-sm" id="qty-cart">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
                  <br><br>  
                  </div>
                </div>
                
                <a href="{% url 'home' %}" class="btn btn-secondary">Home</a>
                <button type="button" value="{{ product.id }}" class="btn btn-secondary" id="add-cart">Add To Cart</button>
            </center>
        </div>
      </div>
    </div>
  </div>


<!--- Javascript per il bottone di aggiungere al carrello -->
<script>
//Controllo se il bottone è stato schiacciato
$(document).on('click', '#add-cart', function(e) {
  e.preventDefault();
  $.ajax({
    type: 'POST',
    url: '{% url "cart_add" %}', 
    data: {
      product_id: $('#add-cart').val(),
      product_qty: $('#qty-cart option:selected').text(),
      csrfmiddlewaretoken: '{{ csrf_token }}',
      action: 'post'
    },

    success: function(json) {
      console.log(json)
      document.getElementById("cart_quantity").textContent = json.qty
    },

    error: function(xhr, errmsg, err) {
      
    }

  });

})


</script>

{% endblock %}